[Unit]
Description=Announce dataelk_1
BindsTo=dataelk.1.service

[Service]
ExecStart=/bin/sh -c "while true; do etcdctl set /services/dataelk/dataelk_1 '{ \"host\": \"%H\", \"version\": \"52c7248a14\" }' --ttl 60;sleep 45;done"
ExecStop=/usr/bin/etcdctl rm /services/dataelk/dataelk_1

[X-Fleet]
X-ConditionMachineOf=dataelk.1.service
